
*.vsidx
Networking Project/.vs/Networking Project/FileContentIndex/64bdaff9-a3d2-455b-8330-294cbf94ca7b.vsidx
Networking Project/.vs/Networking Project/v17/.suo
Networking Project/.vs/Networking Project/v17/DocumentLayout.json
Networking Project/.vs/Networking Project/v17/DocumentLayout.json
Networking Project/.vs/Networking Project/v17/DocumentLayout.json
Networking Project/.vs/Networking Project/v17/.suo
*.json
